<!-- to add component will remove it -->
<app-navbar></app-navbar>
<div *ngIf="true" >
    <div class="container design mt-5"> 
        <div class="card mb-3 mt-2" style="max-width: 300px; background-color: grey;" *ngFor="let item of favs">
            <div class="row g-0">
              <div class="col-md-4">
                  <!-- <img src="..." class="img-fluid rounded-start" alt="..."> -->
                  <img [src]="item.imgUrl" class="img-fluid rounded-start">
              </div>
              <div class="col-md-8">
                <div class="card-body" style="margin-top: 15px;">
                    <div class="design">
                        <h5 class="mb-0">{{item.name}}</h5>
                        <ngb-rating [max]="5" [(rate)]="item.rate" [readonly]="true"></ngb-rating>
                        <i class="bi bi-heart-fill"(click)=remove(item)></i>
                    </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>
<!--------------------------------------------------------->
<!-- <ng-container *ngIf="true">
    <div class="container">
        <div class=" card b card-emty">
           
            <h5 class="card-title ">Favorites</h5>
        </div>
        <div class="center">
            <i class="bi bi-heart a md-100"></i>
            <h4>No Favorites yet!</h4>
            <h6 class="c">Click the heart button to add to your Favorites</h6>
        </div>
    </div>
</ng-container> -->
