@import "~bootstrap-icons/font/bootstrap-icons.css";

@font-face {
    font-family: name;
    src: url("src/assets/fonts/FredokaOne-Regular.ttf");
}

.design{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.heart{
    gap: 30px;
}