<flash-messages></flash-messages>
<section class="body">
<app-navbar1></app-navbar1>
<div class="content">
    <div class="firsthead">
        <h1>404</h1>
    </div>
    <div class="detailHdr">
        <h3>Oops! Page not found</h3>
    </div>
    <div class="detailErr">
        <p>The page you are looking for not dosen't exist. You may<br> have mistyped the address or the page may have moved.</p>
    </div>
    <div class="btn">
        <button type="button" routerLink="/in" class="btn btn-lg btn-primary">Back To Home</button>
    </div>
</div>
<app-footer></app-footer>
</section>

<!-- <div class="con d-flex justify-content-center"></div> -->