<!-- Footer -->
<footer class="text-center text-lg-start bg-dark text-light">
    <!-- Section: Social media -->
    <div class="container p-4 pb-0">
    <section class="d-flex justify-content-center mb-4">
        <button  style="border-radius: 50%;" class="btn btn-outline-light m-1">
            <a href="https://www.facebook.com" target="_blank" class="fa fa-facebook-f text-reset text-decoration-none "></a>
        </button>
        <button  style="border-radius: 50%;" class="btn btn-outline-light m-1">
            <a href="https://www.instagram.com" target="_blank" class="fa fa-instagram text-reset text-decoration-none "></a>
        </button>
        <button  style="border-radius: 50%;" class="btn btn-outline-light m-1">
            <a href="https://www.twitter.com" target="_blank" class="fa fa-twitter text-reset text-decoration-none "></a>
        </button>
        <button  style="border-radius: 50%;" class="btn btn-outline-light m-1">
            <a href="https://www.google.com" target="_blank" class="fa fa-google text-reset text-decoration-none "></a>
        </button>
        <button  style="border-radius: 50%;" class="btn btn-outline-light m-1">
            <a href="https://www.linkedin.com" target="_blank" class="fa fa-linkedin text-reset text-decoration-none "></a>
        </button>
        <button  style="border-radius: 50%;" class="btn btn-outline-light m-1">
            <a href="https://www.github.com" target="_blank" class="fa fa-github text-reset text-decoration-none "></a>
        </button>
    </section>
        <!-- Section: Social media -->
      </div>
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Web Experts Team
            </h6>
            <p>
              A Simple Home Page That Made by Us In Order to Catch the train of Deadline.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Products
            </h6>
            <p>
              <a href="https://www.w3schools.com/html/" class="text-reset text-decoration-none">HTML</a>
            </p>
            <p>
              <a href="https://www.w3schools.com/css/" class="text-reset text-decoration-none">CSS</a>
            </p>
            <p>
              <a href="https://www.w3schools.com/js/" class="text-reset text-decoration-none">JavaScript</a>
            </p>
            <p>
              <a href="https://angular.io/" class="text-reset text-decoration-none">Angular</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="#!" class="text-reset text-decoration-none">Help</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Contact
            </h6>
            <p><i class="fa fa-home me-3"></i> Egypt , Cairo</p>
            <p>
              <i class="fa fa-envelope me-3"></i>
              info@example.com
            </p>
            <p><i class="fa fa-phone me-3"></i> + 01 234 567 88</p>
            <p><i class="fa fa-print me-3"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
      <a class="text-reset fw-bold text-decoration-none" href="https://mdbootstrap.com/">ReviewApp.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->