

<div class="descContainer">
    <div class="d-flex">
        <h1> {{place.name}} </h1>
        <div class="star-cont-total">
            <div class="container d-flex justify-content-center mt-200">
                <div class="row">
                    <div class="col-md-12">
                        <div class="stars">
                            <form action=""> <input class="star star-5" id="star-5" type="radio" name="star" /> <label class="star star-5" for="star-5"></label> <input class="star star-4" id="star-4" type="radio" name="star" /> <label class="star star-4" for="star-4"></label> <input class="star star-3" id="star-3" type="radio" name="star" /> <label class="star star-3" for="star-3"></label> <input class="star star-2" id="star-2" type="radio" name="star" /> <label class="star star-2" for="star-2"></label> <input class="star star-1" id="star-1" type="radio" name="star" /> <label class="star star-1" for="star-1"></label> </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>      
    <h3>descreibtion</h3>
    <p>{{place.describtion}}</p>
    <h3>Location</h3>
    <div><p>{{place.location}}</p></div>
</div>
<!-- ///////////////////////////////////////gallery/////////////////////////////////////// -->

<!-- <div style="width: 840px; height: 500px; text-align:center;margin:0px; padding:0px;">
    <ng-image-slider #nav

    [images]="imgCollection"
      [infinite]="false"
      [autoSlide]="1"
      [imageSize]="{width: '25%', height: 200}"
      slideImage="1"></ng-image-slider>
  </div> -->



  <ng-image-slider  [images]="imgCollection" #nav></ng-image-slider>

<!-- ///////////////////////////////////////End gallery/////////////////////////////////////// --> 


<div class=" row comment-list  ">
  
        
        <div class="add-rev ">

            <img width="50px" height="50px" [src]="user.itemImageUrl ? user.itemImageUrl :'/assets/images/profile.jpg'" alt="profile">
            <input type="text" class="form-control mr-3" placeholder="Review">
            <button (click)="addReview($event)" class="btn btn-primary" type="button">Add </button>
            <div class="star-container d-flex">
                <div>
                    <ul class="list-icons">
                      <li (click)="rateCalc($event)" value="1"></li>
                      <li (click)="rateCalc($event)" value="2"></li>
                      <li (click)="rateCalc($event)" value="3"></li>
                      <li (click)="rateCalc($event)" value="4"></li>
                      <li (click)="rateCalc($event)" value="5"></li>
                  
                    </ul>
                  </div>
            </div>

        </div>

<div class="row comment-list "  *ngFor="let comment of comments ">
    <div class="col-md-8">
        <div class="media g-mb-30 media-comment">
            <img class="d-flex g-width-50 g-height-50 rounded-circle g-mt-3 g-mr-15" [src]="user.itemImageUrl ? user.itemImageUrl :'/assets/images/profile.jpg'"  alt="Image profile">
            <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
              <div class="g-mb-15">
                <h5 class="h5 g-color-gray-dark-v1 mb-0">{{user.name}}</h5>
                <span class="g-color-gray-dark-v4 g-font-size-12"> 3 hours ago </span>
              </div>
        
              <p>{{comment}}</p>

                <!-- <div class="d-flex flex-row align-items-center voting-icons">
                    <i class="fa fa-sort-up fa-2x mt-3 hit-voting" (click)="rateCalc($event)" value="1"></i>
                    <i class="fa fa-sort-down fa-2x mb-3 hit-voting" (click)="rateCalc($event)" value="0"></i>
                    <span class="ml-2">25</span>
                 </div> -->
        </div>
    </div>

</div>
</div>





