<div class="container-sm">
  <div class="row">
    <div class="col" *ngFor="let el of (arr) ; let i = index">
      <div class="card shadow" style="border-radius: 20px; width: 18rem;">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlKSOcH4MxUbfCFb-_Q24AEW_o31dg9gXMhw&usqp=CAU" class="card-img-top rounded" alt="Restaurants-background">
          <div class="card-body">
            <a href="/mainpage" style="text-decoration: none;">
                <h5 class="card-title">Restaurants</h5>
            </a>
            <p class="card-text">Here You Can Find the Best Restaurants In Your Area.</p>
          </div>
          <!-- <ul class="list-group list-group-flush">
            <li class="list-group-item">Fast Food</li>
            <li class="list-group-item">Family Style</li>
            <li class="list-group-item">Causal dining</li>
          </ul> -->
          <!-- <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div> -->
      </div>
      <br>
      <br>
  </div>
</div>

